// Colors
$spotify-green: #1db954;
$spotify-black: rgb(25,20,20);
$spotify-white: #A0A0A0;
$spotify-sidebar: rgba(25, 20, 20, 0.7);
$playbar-grey: #282828;

// Lengths
$sidebar-length: 225px;
